PORT=5000

DB_HOST=YOUR_HOST
DB_PORT=3306
DB_USER=YOUR_USER
DB_PASSWORD=YOUR_PASSWORD

DB_APP=Shivamgiri
DB_EXTERNAL=db_external
DB_AUDIT=db_audit

JWT_SECRET=change_this_secret

AUTH_MODE=dev
DEV_USER_ID=1
DEV_ROLE=ADMIN
DEV_EMPLOYEE_CODE=
