PORT=5000

DB_HOST=localhost
DB_PORT=3306
DB_USER=shivam_user
DB_PASSWORD="qwersdfg!@#hjk"

DB_APP=Shivamgiri
DB_EXTERNAL=db_external
DB_AUDIT=db_audit

JWT_SECRET=change_this_secret

AUTH_MODE=dev
DEV_USER_ID=1
DEV_ROLE=ADMIN
DEV_EMPLOYEE_CODE=
